$gutter: 1rem;
$brand-blue: #1D4E89;
$brand-lightblue: #00B2CA;
$brand-green: #7DCFB6;
$brand-orange: #F79256;
$brand-light-orange: #FBD1A2;
$width: 65rem;
$brand-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
$brand-border-radius: 0.3rem;
$brand-dark-border: 1px solid #505050;
$haze: rgba(0,0,0, 0.7);
