@import "base";
@import "home";
@import "login";
@import "mapview";
@import "signup";
@import 'mapview';

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  background-color: $brand-light-orange;
  color: white;
  font-family: Questrial;
  margin: 0;
}
