@import "base";
@import "home";
@import "login";
@import "mapview";
@import "signup";

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}


* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  background: url('/IMG_1874.jpg');
  background-size: auto;
  background-position: 0 -1400px;
  color: white;
  font-family: Questrial;
  margin: 0;
}
