
<div class="container">
  <div class="home">
    <h2 class="home__title">Nashville</h2>
      <i class="fa fa-car" aria-hidden="true"></i>
    <h2 class="home__title">Free Park</h2>
  </div>

<div class="button-container">
  {{#link-to "sign-up" }}
    <div class="home__but">
      <button class="button"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</button>
    </div>
  {{/link-to}}

  {{#link-to "login"}}
    <div class="home__but">
      <button class="button"><i class="fa fa-sign-in" aria-hidden="true"></i>Log In</button>
    </div>
  {{/link-to}}
</div>

</div>



  {{outlet}}
