
<div class="home">
  <h2 class="home__title">Nashville</h2>
  <i class="fa fa-car" aria-hidden="true"></i>
  <h2 class="home__title">Free Park</h2>
</div>

{{#link-to "sign-up" }}
<button class="home__button signup">Sign Up</button>
{{/link-to}}

{{#link-to "login"}}
<button class="home__button login">Log In</button>
{{/link-to}}

{{outlet}}
